.additional {
  border: none;
}

.additional__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 6px 4px;
}

.additional__item {
  margin-bottom: 14px;
}

.additional__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}

.additional__checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.additional__checkbox+.additional__label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border: 1px solid @border-bottom_grey;
  background-repeat: no-repeat;
  background-position:center center;
  background-size: 50% 50%;
  margin-right: 16px;
}

.additional__checkbox:checked+.additional__label::before {
  background-image: url("../img/svg/checked.svg");
}

.additional__checkbox:not(:disabled):not(:checked)+.additional__label:hover::before {
  border-color: @grey-hover;
}

.additional__checkbox:disabled+.additional__label::before {
  opacity: 0.3;
}

//Tablet

@media (min-width: @tablet-width) {
  .additional__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 42px;
  }

  .additional__checkbox+.additional__label::before {
    top: -9px;
    width: 38px;
    height: 38px;
  }

  .additional__checkbox:checked+.additional__label::before {
    background-image: url("../img/svg/checked-big.svg");
    top: 50%;
    left: 15px;
  }

  .additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .additional__item {
    margin-bottom: 14px;
    margin-left: 8px;
    margin-top: 19px;
  }
}

//Desktop

@media (min-width: @desktop-width) {

  .additional {
    margin-bottom: 30px;
  }

  .additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 131px;
  }

  .additional__item {
    margin-bottom: -9px;
    margin-left: 48px;
    margin-top: -29px;
  }

  .additional__checkbox {
    &::before {
      margin-right: 20px;
    }
  }
}
