.advantages__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 35px;
}

.advantages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantages__description {
    width: 200px;
    min-height: 55px;
}

.advantages__description::before {
    background-image: url(../img/svg/usefulness.svg);
}