.cat-info-list {
  list-style: none;
  padding: 0;
  margin: 0 20px 9px;
  border: none;
}

@media (min-width: @tablet-width) {
  .cat-info-list {
    margin: 0 71px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .cat-info-list {
    margin: 0;
    padding: 0;
  }
}
