.complex-wrap {
  margin-top: 35px;
  margin: 0 20px;
}

.complex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}

.complex-img {
  position: absolute;
  right: 15px;
}

.complex__label {
  text-transform: uppercase;
  color: @color-gray_light;
  font-size: 16px;
  line-height: 18px;
  margin-right: 11px;
}

.complex__input {
  width: 100%;
  text-transform: uppercase;
  color: @color-gray_light;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @grey-input;
  border-radius: 1px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
  &:hover {
    border: 1px solid @border-bottom_grey;
  }
  &:focus {
    border: 1px solid @color-gray_light;
  }
  &:focus:required:invalid {
    border: 1px solid @error_border;
  }
  &::-ms-clear {
    display: none;
  }
}

.complex__input:hover + .complex-img {
  fill: @basic-green;
}

.complex__input:focus:required:invalid + .complex-img {
  fill: @error_border;
}

//Desktop

@media (min-width: @desktop-width) {
  .complex-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}
