.copyright{
  padding: 0 20px;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  text-decoration: none;
}

.copyright__text {
  vertical-align: middle;
  padding-top: 13px;
  padding-right: 3px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial";
  color: @color-gray_light;
    &:active {
      opacity: 0.3;
    }
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
  fill: @main-menu_hover;
  &:hover {
    fill: @basic-green;
  }
  &:active {
    opacity: 0.3;
  }
}

//Tablet

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__logo {
    padding: 0;
    padding-top: 9px;
    padding-bottom: 0;
    padding-left: 106px;
  }

  .copyright__text {
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    margin-right: -83px;
    padding: 0;
  }

  .copyright__link{
    padding: 0;
  }
}

//Desktop

@media (min-width: @desktop-width) {
  .copyright__logo {
    padding-top: 20px;
  }

  .copyright__text {
    margin-top: 17px;
  }
}
