.copyright {
  padding: 15px 0;
}

.copyright__link {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-right: 3px;
  padding-bottom: 20px;
	margin-right: 130px;
  line-height: 16px;
  font-family: "Arial";
  color: @color-gray_light;
  text-decoration: none;
    &:active {
      opacity: 0.3;
    }
}

.copyright__logo {
	
}

@media (min-width: @tablet-width) {
	.copyright {
    padding: 0;
  }

	.copyright__link {
		padding: 0;
		padding-top: 9px;		
		padding-bottom: 20px;
		padding-right: 15px;
	}
}
