.extra-goods__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin: 20px;
}

.extra-goods__list {
    list-style: none;
}

.extra-goods__name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0; 
}

.extra-goods__quantity,
.extra-goods__price {
    font-size: 14px;
    line-height: 14px;  
}

.extra-btn {
    display: block;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    width: 280px;
    height: 40px;
    background-color: @basic-green;
    color: @bg-color;
    text-transform: uppercase;
    margin-bottom: 40px;
    border: none;
}

.gift__wrap {
    margin-left: 40px;
    margin-bottom: 20px;
} 