.form__target {
  -padding-left: 20px;
  -padding-right: 20px;
  margin-bottom: 26px;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @desktop-width) {
  .form__cat-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__cat-info {
    width: 45%;
  }

  .form__target {
    width: 45%;
  }
}