
.form__target {
  margin-bottom: 26px;
}

.form__comments {
  padding: 0 20px;
}

//Desktop

@media (min-width: @desktop-width) {
  .form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 34px;
  }

  .form-cat__container {
    width: 45%;
  }

  .form__target {
    width: 45%;
  }
}
