.live-slider__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  margin-top: 25px;
}

.live-slider__btn {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.live-slider {
  width: 82px;
  height: 12px;
  background: @bg-color;
  margin: 20px auto;
  position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid @border-bottom_grey;
}

.live-slider label {
  display: block;
  width: 35px;
  height: 6px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
  background: @basic-green;
}

.live-slider input[type=checkbox]:checked + label {
  left: 10px;
  display: none;
}

.live-slider  input[type="checkbox"] {
  display: none;
}

//Tablet

@media (min-width: @tablet-width) {
  .live-slider__wrap {
    width: 768px;
    position: relative;
  }

  .live-slider {
    width: 428px;
    height: 6px;
    background: @slider-grey;
    margin: 20px auto;
    border: none;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    border-radius: 50px;
  }

  .live-slider label {
    position: absolute;
    top: -14px;
    left: 50%;
    background-color: @bg-color;
    border: 1px solid @border-bottom_grey;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    height: 32px;
    width: 32px;
      &::before {
        content: "";
        background-color: @basic-green;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 12px;
        right: 12px;
      }
  }

  .live-slider__btn {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted @border-dotted;
  }
}
