.live-example__wrapper {
  background-color: @extra-grey;
  padding-left: 20px;
  padding-right: 20px;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;   
}

.live-example__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Arial";
  margin: 0;
  padding: 0;
  width: 280px;   
  min-height: 108px;
  margin-bottom: 26px;
}

.live-example__number {
  width: 85px;
  -margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 25px;
}

.live-example__result {
  display: flex;
  flex-direction: column;
}

.live-example__result {
  flex-direction: row;
}

.live-example__item {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 60px;
  
}

.live-example__list--time {
  
  
}

.live-example__by-time {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center; 
  text-transform: uppercase;
}

