.main-nav__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav--closed {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

//Tablet

@media (min-width: @tablet-width) {

  .main-nav--closed {
    display: block;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__wrapper {
    display: block;
    padding: 42px 0 0 0;
    margin: 0;
  }
}

//Desktop

  @media (min-width: @desktop-width) {
    .main-nav__wrapper {
      padding: 72px 0 0 0;
    }
}
