.main-nav__list {
    list-style: none;
    
}

.site-list__link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: @color-black_dark;
    text-transform: uppercase;
}