
.welcome {
position: relative;
z-index: 99;
margin-bottom: 150px;
}

.welcome-wrapper {
    text-align: center;  
}

.welcome__title {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    width: 310px;
    color: dark-grey;
    z-index: 100;
    top: 15px; 
    padding: 0;  
    margin: 0;   
}

.welcome__description {
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    width: 200px;
    color: dark-grey;
    z-index: 200;
    top: 110px;
    left: 55px;
    text-transform: uppercase;
    padding: 0;  
    margin: 0;
    padding-top: 10px;
}

.welcome__pic {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.welcome__back {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.85;
    width: 100%;
}

.welcome__img {
    position: relative;
    top: 167px;
    left: 20px;  
}

@media (min-width: @tablet-width) {
  .welcome__main--image {
    display: none;
  }
}

@media (min-width: @desktop-width) {
	.welcome__main--image {
		position: absolute;
		left: 50%;
		transfrom: translateX(-50%);
	}
	.welcome__img {
		margin: 0 auto;
	}
}