.map{
  margin-bottom: 37px;
}

.map__live {
  width: 100%;
}

.map__live iframe {
  border: none;
  overflow: hidden;   
}

@media (min-width: @tablet-width) {
  .map__live {
    height: 405px;
    width: 100%;  
  }
}