.page-header {
  display: flex;
  flex-direction: column;      
}

.page-header__logo {
  height: 65px;
}

.page-header__img:hover,
.page-header__caption:hover {
  opacity: 0.8;
}

.page-header__img:active,
.page-header__caption:active {
  opacity: 0.6;
}