.page-header {
  position: relative;
}

.page-header__img {
  height: auto;
  width: 100%;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__container{
  position: relative;
  padding-top: 65px;
}

.page-header__logo {
  position: absolute;
  display: block;
  width: 191px;
  top: 23px;
  left: 20px;
  text-decoration: none;
  outline: none;
}

.page-menu__open {
  background: none;
  border: none;
  margin-left: 20px;
  display: block;
}

.main-nav .show-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 70px 23px;
}

//Tablet

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 0;
    &::before {
      display: none;
    }
  }

  .page-header--wrap {
    &::after {
      display: none;
    }
  }

  .page-header__container {
    display: block;
    padding-top: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 24px;
    left: 29px;
    transform: translateX(0);
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 175px;
  }

  .page-menu__open {
    display: none;
  }
}

//Desktop

@media (min-width: @desktop-width) {
  .page-header{
    z-index: 2;
    position: relative;
  }

  .page-header__container{
    width: 1220px;
    margin: 0 auto;
  }

  .page-header__logo {
    position: absolute;
    top: 53px;
    left: 0;
    transform: translateX(0);
    text-decoration: none;
    outline: none;
    height: 696px;
    padding: 0;
    margin: 0;
    width: 203px;
    height: 64px;
  }

  .page-menu__open {
    display: none;
  }
}

