.partnership {
  background-color: @bg-color;
  padding-left: 20px;
  padding-right: 20px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
  }

  &__text {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    justify-content: space-between;
    width: 50%;
    vertical-align: top;
    font-family: "Arial";
    text-align: left;
  }
}

//Tablet

@media (min-width: @tablet-width) {
  .partnership {
    padding: 0 72px;
    background-color: #f2f2f2;
    &__wrapper {
      justify-content: space-between;
      padding-top: 71px;
      padding-bottom: 62px;
    }

    &__title {
      font-size: 20px;
      line-height: 25px;
      width: 160px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 16px;
      justify-content: space-between;
      text-align: right;
      width: 160px;
    }
  }
  .page-body--index .partnership{
    background-color: #ffffff;
  }

}

//Desktop

@media (min-width: @desktop-width) {
  .partnership {
    margin: 0;
    padding: 0;
    width: 570px;
    position: relative;
    z-index: 2;
    left: 50%;
    margin-left: -610px;
    background: #ffffff;
    padding: 62px 84px 57px 76px;
    box-sizing: border-box;

    &__wrapper {
      margin: 0;
      padding: 0;
    }

    &__title {
      margin: 0;
    }

    &__text {
      margin: 0;
      text-align: left;
    }
  }
}
