
.product-catalog {
  background-color: @bg-color;
  padding-bottom: 24px;
  margin-bottom: 26px;
  border-bottom: 1px solid @border-bottom_grey;
}

.product-catalog__list {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-catalog__wrapper {
  padding: 25px 18px;
  background-color: @bg-color;
}

.product-catalog__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 80px;
}

.product-catalog__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-catalog__link {
  display: block;
  text-decoration: none;
  color: @color-black_dark;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.product-catalog__container {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @color-gray_light;
  width: 50%;
  padding: 6px 0 0 0;
}

.product-catalog__btn {
  .btn_submit;
    display: block;
    width: 100%;
    text-decoration: none;
    margin: 9px auto 0;
    padding: 11px 0 9px 0;
    height: auto;
  }

.product-catalog__wrap {
  display: flex;
  flex-direction: column;
}

.product-catalog__item {
  position: relative;
  padding: 16px 20px 24px;
  display: flex;
  flex-wrap: wrap;
  &::after {
    content: "";
    position: absolute;
    background-color: @basic-grey;
    width: 100vw;
    height: 1px;
    left: 50%;
    top: 0;
    margin-left: -50vw;
  }
}

.product-catalog__pic {
  width: 50%;
  display: block;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.product-catalog__type {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-catalog__dd {
  margin: 0;
}

//Tablet

@media (min-width: @tablet-width) {
  .product-catalog {
    padding-bottom: 0;
    margin-bottom: 69px;
    border-bottom: none;
  }

  .product-catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 65px 30px 0;
    width: auto;
  }

  .product-catalog__item {
    display: block;
    padding: 238px 40px 96px;
    position: relative;
    width: 46%;
    box-sizing: border-box;
    margin-bottom: 65px;
      &::after {
        content: "";
        position: absolute;
        height: calc(100% - 75px);
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: @block-bg_color;
        display: block;
        margin: 0;
        top: unset;
        z-index: 1;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
  }

  .product-catalog__heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    width: 150px;
    margin: 0 auto;
  }

  .product-catalog__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
  }

  .product-catalog__container {
    display: block;
    width: auto;
    padding: 0;
    font-family: "Arial";
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: @color-gray_light;
    position: relative;
    z-index: 2;
    min-height: 172px;
  }

  .product-catalog__type {
    border-bottom: 1px solid @border-bottom_grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .product-catalog__btn {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    bottom: 39px;
    left: 41px;
    width: calc(100% - 78px);
  }

  .product-catalog__wrap {
    display: block;
  }

  .product-catalog__pic {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 207px;
    width: 100%;
    z-index: 2;
    align-items: flex-end;
  }

  .product-catalog__link {
    margin-bottom: 21px;
  }

  .product-catalog__img {
    width: 100%;
  }
}

//Desktop

@media (min-width: @desktop-width) {
  .product-catalog {
    padding-bottom: 0;
    margin-bottom: 79px;
    border-bottom: none;
}
  .product-catalog__list{
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 57px;
    margin: 75px auto 0;
  }

  .product-catalog__item {
    width: 100%;
    margin: 0;
    padding: 214px 40px 96px;

    &::after{
      height: calc(100% - 88px);
    }
  }

  .product-catalog__link {
    margin-top: 35px;
  }
}
