.main-catalog__title {
    font-family: inherit;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.product-catalog__list {
    list-style: none;   
}

.product-catalog__link {
    text-decoration: none;
    color: @color-black_dark;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-catalog__container {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.catalog-btn {
    display: block;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    width: 280px;
    height: 40px;
    background-color: @basic-green;
    color: @bg-color;
    text-transform: uppercase;
    border: none;
        &:hover {
        background-color: @basic-green__hover;
        }
        &:active {
        background-color: @basic-green__hover;
        color: @basic-green__pressed; 
        }
}