.program-form {
  &__title {
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 37px;
    margin-left: 20px;
  }

  &__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 35px; 
    margin-bottom: 35px;
    margin-left: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    width: 230px;
  }
}