.program__title {
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 37px;
    margin-left: 20px;
}

.program__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 35px; 
    margin-bottom: 35px;
    margin-left: 20px;
}

.form-fieldset {
    border: none;
}

.form-input {
    width: 228px;
    color: @color-gray_light;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0;
    padding: 13px 165px 15px 14px;
    border: @grey-input solid 1px;
        &:hover {
            border: @border-bottom_grey solid 1px;
        }
        &:active {
            border: @color-gray_light solid 1px;
        }
}

.form-label {
    color: @color-gray_light;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.form-input_weight {
    width: 205px;
}

.form-input_age {
    width: 170px;
}

.radio-input {

}

.form-info__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}

.form-input__email {
    padding: 0;
    width: 340px;
    padding: 13px 50px 15px 14px; 
}

.form-input__phone {
    padding: 0;
    width: 300px;
    padding: 13px 72px 15px 14px; 
}

.form-comment {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid @grey-input;
    &::-webkit-input-placeholder { color: @color-gray_light; }
    &::-moz-placeholder { color: @color-gray_light; }
    &:-ms-input-placeholder { color: @color-gray_light; }
}

.form-comment:focus {
    outline: none;
}

.form-btn {
    display: block;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    width: 280px;
    height: 40px;
    background-color: @basic-green;
    color: @bg-color;
    text-transform: uppercase;
    border: none;
        &:hover {
            background-color: @basic-green__hover;
        }
        &:active {
            background-color: @basic-green__hover;
            color: @basic-green__pressed; 
        }
}


