.program-selection__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @bg-color;
  padding-top: 138px;
  padding-bottom: 22px;
}

.program-selection__button {
  display: block;   
  width: 240px;
  padding: 12px 20px;
  margin: 0 auto;
  background-color: @basic-green;
  text-decoration: none;
  color: @bg-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center; 
  font-family: inherit; 
    &:hover {
      background-color: @basic-green__hover;
    }
    &:active {
      color: @basic-green__pressed;
    }
}

.program-selection__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;    
}

.program-selection__item {
  position: relative;
  min-height: 265px;
  background-color: @block-bg_color;
  margin-bottom: 20px; 
  padding: 30px 20px 0 20px;  
    &:last-child {
    	margin-bottom: 0;
  	} 
}

.program-selection__img {  
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @basic-green; 
  top: 25px;
  left: 20px;
}

.program-selection__item--slim::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 25px;
  left: 30px;
  width: 36px;
  height: 50px;
  background-image: url("../img/svg/cat-slim.svg");
}
  
.program-selection__item--pro::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 40px;
  left: 12px;
  width: 67px;
  height: 28px;
  background-image: url("../img/svg/cat-pro.svg");
}

.program-selection__item .program-selection__item--slim {
  width: 100%;
  min-height: 266px;    
}

.program-selection__item .program-selection__item--pro {
  width: 100%;
  min-height: 266px;
}

.program-selection__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  padding: 0;
  margin-left: 90px;
  margin-bottom: 10px;
}

.program-selection__title::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 15px;
  background: url("../img/svg/footer-logo.svg") no-repeat;
  background-position: 0 0;
}

.program-selection__description {
  font-family: "Arial";
  width: 225px;
  height: 90px;
  padding: 0;
  margin: 0;
  margin: 0 15px 20px 30px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; 
  border-bottom: @grey-border solid 1px;   
}

.program-selection__description--slim {
  max-width: ;
}

.program-selection__description--pro {
  max-width: ;
}

.program-selection__link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @color-black_dark;
  margin-left: 30px;  
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 2px;
      left: 95px;
      width: 25px;
      height: 12px;
      background-image: url("../img/svg/arrow.svg");
    }
}

//Tablet

@media (min-width: @tablet-width) {
  .program-selection__wrapper {
    display: block;
    
  }

  .program-selection__button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
    margin: 0;
    width: 245px;
  }
}

//Desktop

@media (min-width: @desktop-width) {
  .program-selection__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: ;
  }

  .program-selection__button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
    margin: 0;
    width: 245px;
  }
}
