.social {
  border-bottom: 1px solid @border-bottom_grey;
  border-top: 1px solid @border-bottom_grey;
  margin: 0 20px;
  padding-top: 22px;
  padding-bottom: 18px;
}

.social__list {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-left: -45px;
}

.social__list-container{
  width: 200px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;;
}

.social__item {
  margin-left: 37px;
}

.social__link {
  display: block;
}

.social__icon {
  max-width: 100%;
  fill: @main-menu_hover;
  &:hover {
    fill: @basic-green;
  }
  &:active {
    opacity: 0.3;
  }
}

//Tablet

@media (min-width: @tablet-width) {
  .social {
    width: auto;
    border: none;
    margin: 0;
    padding: 0;
    align-items: center;
      &__link {
        width: 30px;
        height: 30px;

        &--vkontakte {
          width: 30px;
          height: 16px;
        }

        &--instagram {
          width: 23px;
          height: 23px;
        }

        &--facebook {
          width: 14px;
          height: 28px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
  }

  .social__list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -3px;
    vertical-align: middle;
    padding: 0;
  }

  .social__item {
    margin-right: 0;
    margin-left: 31px;
  }

  .social__icon {
    width: 100%;
    height: 100%;
  }
}

//Desktop

@media (min-width: @desktop-width) {
  .social__list {
  margin-top: 12px;
  }
}
