
//Переменные

@main-font: "Oswald", "Arial";

//Цвета

@bg-color: #FFFFFF;
@block-bg_color: #F2F2F2;
@color-black_dark: #000000;
@color-black_medium: #222222;
@color-gray_light: #444444;
@cat-energy_black: #111111;
@cat-energy_medium: #3E3E3E;
@cat-energy_light: #6B6B6B;
@main-menu_hover: #666666;
@main-menu_down: #B3B3B3;
@border-bottom_grey: #CDCDCD;
@border-dotted: #B2B2B2;
@light-grey: #BDBDBD;
@grey-hover: #BABABA;
@slider-grey: #DCDCDC;
@error_border: #FF8282;
@basic-green: #68B738;
@basic-green__hover: #5EAA2F;
@basic-green__pressed: #8EC36D;
@basic-grey: #EBEBEB;
@extra-grey: #EAEAEA;
@text-grey: #B9B9B9;
@grey-border: #D9D9D9;
@grey-input: #E7E7E7;
@grey-menu_bottom: #E6E6E6;
@grey-cross: #D3D3D3;

//Viewports

@tablet-width: 768px;
//@desktop-width: 1440px;
@desktop-width: 1220px;

@mobile-width: 767px;
