
@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldregular.woff2") format("woff2"),
         url("../fonts/oswaldregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2") format("woff2"),
         url("../fonts/oswaldmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  /* Цвета */
@main-font: Oswald, Arial;
@bg-color: #FFFFFF;
@block-bg_color: #F2F2F2;
@color-black_dark: #000000;
@color-black_medium: #222222;
@color-gray_light: #444444;
@cat-energy_black: #111111;
@cat-energy_medium: #3E3E3E;
@cat-energy_light: #6B6B6B;
@main-menu_hover: #666666;
@main-menu_down: #B3B3B3;
@light-grey: #BDBDBD;
@input-error_border: #FF8282;
@basic-green: #68B738;
@basic-grey: #EBEBEB;
 